@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

img{
  max-width: 100%;
  float: left;
  width:  300px;
  height: 150px;
  object-fit: cover;

  
}

body{
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
}
h1{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
li{
  list-style-type: none;
  
}


